.vp-doc table {
    display: table;
}

.vp-doc th,
.vp-doc td {
    border: 0;
    padding: 16px;
    font-size: 16px;
}

.vp-doc tr:nth-child(2n) {
    background-color: #fff;
}

.vp-doc th {
    color: #000;
    font-size: 16px;
}

/* antdv,打包后有顺序问题，所以提出来 */
@import 'ant-design-vue/es/input/style/index.css';
@import 'ant-design-vue/es/select/style/index.css';
@import 'ant-design-vue/es/message/style/index.css';
@import 'ant-design-vue/es/table/style/index.css';
@import 'ant-design-vue/es/switch/style/index.css';

.ant-table-cell:first-child {
    white-space: nowrap;
}


.demoblock-tooltip .demoblock-tooltip-content {
    z-index: 99;
}

.un-prefer-unocss+* {
    display: block;
}

.prefer-unocss+* {
    display: none;
}

.docs-prefer-unocss {
    .un-prefer-unocss+* {
        display: none;
    }

    .prefer-unocss+* {
        display: block;
    }
}